<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{if title}}{{title}} - {{/if}} 问答网站
    </title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    {{include 'shared/navbar'}}

    <div style="height:100%">
        <div class="container index">
            <div class="row">
                <div class="col-xs-16 main">
                    <!-- 草稿 -->
                    <div class="Card">
                        <div class="TopStoryHeader">
                            <div class="TopStoryHeader-nav">
                                <a href="/ask" class="TopStoryHeader-navItem">
                                    <i class="fa fa-question-circle-o"></i>
                                    提问
                                </a>
                                <a href="/question" class="TopStoryHeader-navItem">
                                    <i class="fa fa-comment-o"></i>
                                    回答
                                </a>
                                <a href="/write" class="TopStoryHeader-navItem">
                                    <i class="fa fa-edit"></i>
                                    写文章
                                </a>
                                <a href="/" class="TopStoryHeader-navItem">
                                    <i class="fa fa-edit"></i>
                                    写想法
                                </a>
                            </div>
                            <a href="/" class="write-btn">
                                草稿
                            </a>
                        </div>
                    </div>
                    <!-- 问题列表 -->
                    <div class="list-container">
                        {{each questions as q}}
                        <div class="note-list Card media" onclick="location.href='/detail/{{q.id}}'">
                            <div class="feedSource">
                                <div class="topic">
                                    <p>
                                        <span>来自话题：</span>
                                        <a href="/topic/{{q.topic}}">{{q.topic}}</a>
                                    </p>
                                </div>
                                <div class="media-left">
                                    <a href="/personal/{{q.petname}}" class="avatar">
                                        <img class="media-object" src="/uploads/{{q.petname}}.jpg" alt="">
                                    </a>
                                    <a href="/personal/{{q.petname}}" class="name">
                                        <h5 class="media-heading">{{q.petname}}</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="contentItem">
                                    <h2>{{q.content}}</h2>
                                </div>
                                <div class="comment-description">
                                    <div class="description">
                                        {{q.description}} 
                                    </div>
                                    <div class="comment-count">
                                        <a href="#">
                                            <i class="fa fa-heart"></i>
                                            喜欢
                                        </a>
                                        <a href="#" onclick="location.href='/detail/{{q.id}}'">
                                            <i class="fa fa-commenting-o"></i>
                                            33条评论
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                            收藏
                                        </a>
                                        <a href="#" class="chajian">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a href="#" class="load-more">阅读更多</a>
                </div>
                <div class="col-xs-offset-1 col-xs-7 aside">
                    <div class="row">
                        <div class="Card">
                            <ul class="GlobalSideBar-categoryList">
                                <li class="GlobalSideBar-categoryItem">
                                    <a href="/lives" class="Button Button--plain bolt">
                                        <i class="fa fa-bolt GlobalSideBar-categoryIcon"></i>
                                        <span class="GlobalSideBar-categoryLabel">Live</span>
                                    </a>
                                </li>
                                <li class="GlobalSideBar-categoryItem">
                                    <a href="/pub" class="Button Button--plain open">
                                        <i class="fa fa-folder-open GlobalSideBar-categoryIcon"></i>
                                        <span class="GlobalSideBar-categoryLabel">书店</span>
                                    </a>
                                </li>
                                <li class="GlobalSideBar-categoryItem">
                                    <a href="/roundtable" class="Button Button--plain cog">
                                        <i class="fa fa-cog GlobalSideBar-categoryIcon"></i>
                                        <span class="GlobalSideBar-categoryLabel">圆桌</span>
                                    </a>
                                </li>
                                <li class="GlobalSideBar-categoryItem">
                                    <a href="/zhuanlan" class="Button Button--plain pencil">
                                        <i class="fa fa-pencil GlobalSideBar-categoryIcon"></i>
                                        <span class="GlobalSideBar-categoryLabel">专栏</span>
                                    </a>
                                </li>
                                <li class="GlobalSideBar-categoryItem">
                                    <a href="/zhi" class="Button Button--plain cny">
                                        <i class="fa fa-cny GlobalSideBar-categoryIcon"></i>
                                        <span class="GlobalSideBar-categoryLabel">付费咨询</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script> {{include 'shared/footer'}}