<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{if title}}{{title}} - {{/if}} 问答网站
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/personal.css">
</head>

<body>
    {{include '../shared/navbar'}}

    <div class="container">
        <div class="header">
            <div class="left">
                <div>
                    <img src="/uploads/{{petname}}.jpg" alt="">
                </div>
                <div>
                    <p>{{petname}}</p>
                    <p>暂无个人资料</p>
                </div>
            </div>
            <div class="right">
                <a href="/user/photo">完善个人资料</a>
            </div>
        </div>
        <div class="down">
            <nav class="wode">
                <li>问题</li>
                <li>回答</li>
            </nav>
        </div>
    </div>

    {{include '../shared/modal'}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/scripts/user/personal.js"></script> {{include '../shared/footer'}}