<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{if title}}{{title}} - {{/if}} 问答网站
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!-- <link rel="stylesheet" href="/styles/all.css"> -->
    <link rel="stylesheet" href="/styles/user/signin.css">
</head>

<body>
    <div class="sign">
        <!-- logo -->
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
        <!-- 主体部分 -->
        <div class="main">
            <!-- title -->
            <div class="title">
                <h4>
                    <a href="/user/signin">登录</a>
                    <b>.</b>
                    <a href="/user/register" class="active">注册</a>
                </h4>
            </div>
            <!-- form表单 -->
            <div class="js-form">
                <form action="">
                    <div class="input-prepend">
                        <input type="text" placeholder="你的昵称" name="petname" required>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="input-prepend">
                        <input type="text" placeholder="手机号" name="phone" required>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="input-prepend ssm">
                        <input type="text" placeholder="手机验证码">
                        <i class="fa fa-shield"></i>
                        <a href="#" class="send-ssm">发送验证码</a>
                    </div>
                    <div class="input-prepend input-password">
                        <input type="text" placeholder="密码" name="password">
                        <i class="fa fa-lock"></i>
                    </div>
                    <button type="submit" class="sign-in-btn">注册</button>
                    <p class="sign-up-msg">
                        点击 “注册” 即表示您同意并愿意遵守简书
                        <span onclick="location.href='/api/user/xieyi'" class="xieyi">用户协议</span> 和
                        <span onclick="location.href='/api/user/xieyi'" class="xieyi">隐私政策</span> 。
                    </p>
                </form>
            </div>
            <!-- 第三方登录 -->
            <div class="more-sign">
                <p>社交账号直接注册</p>
                <ul>
                    <li>
                        <a href="/">
                            <i class="fa fa-weixin weixin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="fa fa-weibo weibo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-qq qq"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{include '../shared/modal'}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/scripts/user/register.js"></script> {{include '../shared/footer'}}